.card {
  // height: 474px;
  width: 90vw;
  background-color: $title-color;
  margin: -9rem auto;
  border-radius: 0.8rem;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 11px 0px #000000; 
  box-shadow: 0px 2px 11px 0px #000000;
  padding-bottom: 10rem;
}

.card .profile {
  position: relative;
  top: 1.3rem;
  margin-bottom: 2.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card #circle {
  border-radius: 50%;
  width: 10.32rem;
  height: 10.32rem;
  background-color: $text-color;
  margin-left: 1.913rem;
}

.profile--details {
  font-size: 1.4rem;
  line-height: 2.4rem;
  width: 80%;
  margin: auto;
  text-align: justify;
  color: #434343;
}

.profile--name-and-pro {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.profile--name-and-pro strong {
  font-size: 2rem;
  line-height: 2.5rem;
  color: $color-title-second;
  margin-bottom: 0.4rem;
}